.DS_Store

.repo/
.pub/

build/

packages
packages/
.packages

benchmarks/
unittest/

pubspec.annotate.yaml
pubspec.instrument.yaml
pubspec.lock

comp.out

bin/dependencies
dependencies

test_instrumented/

# IntelliJ
*.iml
.idea/